.box{
  border: 1px solid black;
  width: 500px;
}

.item-img{
  width: 400px;
  height: 400px;
}

.main{
  display: flex;
  justify-content: center;
}

.Win{
  border: 3px solid green; 
  color:green;
}

.Lose{
  border: 3px solid red; 
  color:red;
}

.tie{
  border: 3px solid black; 
  color:black;
}