.box{
  border: 1px solid black;
  width: 500px;
}

.item-img{
  width: 400px;
  height: 400px;
}

.main{
  display: flex;
  justify-content: center;
}

.win{
  border: 3px solid green;
}

.lose{
  border: 3px solid red;
}

.tie{
  border: 3px solid black;
}